/target
/buildIos
/buildIosFramework
/bindings
# SwiftPM scratch dir left by `swift package compute-checksum` (buildIosDynamic.sh)
/.build
Cargo.lock
*.xcframework
*.a
*.dylib
*.d
**/*.rs.bk
.DS_Store
.idea/
/two-mls-pq/book/book
node_modules
